$color-dark: #2f2222;
$color-accent: #5d71dd;

$breakpoint_xs: '576px';
$breakpoint_sm: '768px';
$breakpoint_md: '991px';
$breakpoint_lg: '1200px';
$breakpoint_xl: '1400px';

$font-family-primary: 'Futura PT', sans-serif;
