.burger {
  position: relative;
  display: none;
  width: 25px;
  height: 18px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: $color-dark;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: $color-dark;
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: $color-dark;
    transform: translateY(-50%);
  }

  @include md {
    display: block;
  }
}
