.card-bottom {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;

  span {
    color: $color-gray;
  }

  &__social {
    margin-top: 15px;
    display: flex;
    align-items: center;

    span {
      margin-right: 13px;
    }
  }
}
