.cart {
  display: inline-flex;
  align-items: center;
  width: auto;
  height: auto;

  &__icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;

    background-image: url('../images/cart.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__quantity {}
}

.quantity {
  display: inline-flex;
  align-items: center;
  height: 16px;
  border-radius: 25px;
  padding: 0 5px;
  font-size: 10px;
  font-weight: 700;
  color: $color-white;
  background-color: $color-dark;
}
