.free-delivery {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #111;
  color: $color-white;
  z-index: 120;
  font-size: 10px;

  &__btn {
    height: 12px;
    width: 12px;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: $color-white;
    }
  }
}
