.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  &__container {
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include xs {
      padding: 20px 15px;
    }
  }

  &__shop-nav {
    margin-left: 250px;

    @include md {
      margin: 0;
    }
  }

  &--catalog {
    padding-top: 40px;
  }
}
