.hero-catalog {
  padding-top: 130px;

  &__slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #f8f8f8;
  }
}

.hero-prev-btn,
.hero-next-btn {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $color-dark;
  z-index: 2;
  color: $color-dark;
  transition: background-color .3s;

  svg {
    width: 40px;
    height: 20px;
    fill: $color-dark;
    transition: fill .3s;
  }

  &:hover {
    background-color: $color-dark;
    svg {
      fill: $color-white;
    }
  }
}

.hero-next-btn {
  left: auto;
  right: 30px;
}

.catalog-slide {
  padding: 110px;

  &__title {
    margin: 0;
    margin-bottom: 15px;
    max-width: 375px;
    font-weight: 700;
    font-size: 36px;
  }

  &__descr {
    margin: 0;
    margin-bottom: 40px;
    max-width: 390px;
    font-size: 15px;
    line-height: 28px;
    color: $color-tundora;
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__link {
    display: inline-block;
    padding: 16px 43px;
    font-size: 13px;

    &--dark {
      border: 1px solid $color-dark;
      color: $color-white;
      background-color: $color-dark;
      transition: all .3s;

      &:hover {
        border: 1px solid $color-dark;
        color: $color-dark;
        background-color: transparent;
      }
    }
    &--light {
      border: 1px solid $color-dark;
      color: $color-dark;
      background-color: transparent;
      transition: all .3s;

      &:hover {
        border: 1px solid $color-dark;
        color: $color-white;
        background-color: $color-dark;
      }
    }

  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}
