.main-products {
  &__container {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  &__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
  }

  &__item {
    margin: 0 18px;
  }

  &__btn {
    font-size: 24px;

    &--current {
      @extend .nav__link--current;
    }
  }

  &__btn-center {
    text-align: center;
  }

  &__more {
    margin-top: 95px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    color: $color-gray;

    span {
      display: inline-block;
      margin-bottom: 10px;
    }

    svg {
      width: 13px;
      height: 22px;
      fill: $color-dark;
    }
  }
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
