.product-prop {
  display: inline-block;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  color: #111;

  background-position: left center;
  background-repeat: no-repeat;

  &--new {
    background-image: url('../images/prod-prop-new.png');
  }
  &--best-seller {
    background-image: url('../images/prod-prop-new.png');
  }
}
