.shop-banners {
  padding-top: 45px;

  &__container {
    padding: 0;
    display: flex;
    justify-content: space-between;

    @include xs {
      flex-direction: column;
    }
  }
}

.shop-banner {
  min-height: 420px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  color: $color-white;
  background-color: $color-dark;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include md {
    padding: 30px;
    min-height: 300px;
  }

  @include xs {
    width: 100%;
    min-height: 250px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #d70808, $alpha: 0);
    transition: background-color .3s linear;
  }

  &:hover::before {
    background-color: rgba($color: #d70808, $alpha: .1);
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.2;

    @include md {
      font-size: 40px;
      margin-bottom: 10px;
    }

    @include sm {
      font-size: 28px;
    }
  }

  &__text {
    position: relative;
    z-index: 1;
  }

  &--men {
    background-image: url('../images/banner-1.jpg');
  }

  &--women {
    background-image: url('../images/banner-2.jpg');
  }
}
