.card-page {
  &__header {
    padding-top: 0;
  }
}

.card {
  padding-top: 67px;
}

.card-content {
  padding-top: 20px;

  &__bottom {
    padding-top: 70px;
  }
}

.card-top {
  display: flex;

  &__left {
    width: 57.5%;
  }

  &__right {
    width: calc(100% - 57.5%);
    padding-left: 10.7%;
    padding-top: 57px;
  }
}

.card-related {
  padding-top: 40px;

  &__title {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
  }

  &__slider {
    position: relative;
    overflow: hidden;
    padding-bottom: 90px;
  }

  .related-pag {
    left: 0;
    transform: translateX(0);
    text-align: left;

    .swiper-pagination-bullet {
      margin: 0 8px !important;
      background-color: #ccc;
    }

    .swiper-pagination-bullet-active {
      background-color: $color-dark;
      &::before {
        background-color: #ccc;
      }
    }
  }
}
