@import 'normalize.css/normalize';
@include focus-visible;
@import './libs/swiper-bundle.min';
@import 'simplebar/dist/simplebar.min';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  overflow-anchor: none;
  margin: 0;

  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;

  font-family: $ff-Jost-Medium;
  font-weight: 500;
  font-size: 16px;
  background-color: $color-white;
  color: $color-dark;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.container {
  max-width: 1426px;
  padding: 0 50px;
  margin: 0 auto;
}

.container--large {
  max-width: 1920px;
  padding: 0 50px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
}

.main-link {
  position: relative;
  font-size: 15px;
  color: $color-dark;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    opacity: 0;
    transition: opacity .3s linear;
  }

  &--white {
    color: $color-white;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

.to-top {
  position: fixed;
  right: 2%;
  bottom: 5%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  box-shadow: 0 5px 30px rgba($color: #000000, $alpha: .1);
  background-color: $color-white;
  padding: 14px 18px;

  svg {
    width: 12px;
    height: 21px;
  }
}
